/* sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* setup doc */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

/* background */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f9fafb;
  color: #0f172a;
}

/*root fill viewport */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}